{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row banner main">
  <div class="col-md-1"></div>
  <div class="col-md-11 padding-none">
    <h1>Movie Details</h1>
  </div>
</div>

<div class="row padding-top padding-bottom">
  <div class="col-md-1"></div>
  <div class="col-md-10 item">
    <h2>{{items.name}}</h2>
    <a href="{{url_for('showCategories', categories_id=categories.id)}}">
      <div>
        <h3>{{categories.name}}</h3>
      </div>
    </a>
    <h3>{{items.description}}</h3>
    <a href="{{url_for('editItem', categories_id=categories.id, items_id=items.id)}}">
      <div class=" padding-top padding-bottom">
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit</button>
    </a>
    <a href="{{url_for('deleteItem', categories_id=categories.id, items_id=items.id)}}">
      <button class="btn btn-default delete">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete</button>
    </a>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
{% endblock %}